@import "tailwindcss";

@layer utilities{
    .animation-glisser{
        animation-name: glisser;
    }

    .animation-glisser-bas{
        animation-name: glisser-bas;
    }

    .animation-both{
        animation-fill-mode: both;
    }

    .duree-200{
        animation-duration: 200ms;
    }
    .duree-300{
        animation-duration: 300ms;
    }
    .duree-500{
        animation-duration: 500ms;
    }

    .duree-700{
        animation-duration: 700ms;
    }

    .delai-100{
        animation-delay: 100ms;
    }

    .delai-200{
        animation-delay: 200ms;
    }
    .delai-300{
        animation-delay: 300ms;
    }

}

@keyframes glisser {
    from{
        opacity: 0;
        transform: translateY(-1rem);
    }
    to{opacity: 1;
    transform: translateY(0rem);}
}

@keyframes glisser-bas {
    from{
        opacity: 0;
        transform: translateY(1rem);
    }
    to{opacity: 1;
    transform: translateY(0rem);}
}